body {
  font-family: Arial, sans-serif;
  background-color: #141414;
  color: #fff;
}

#video-container {
  position: relative;
}

#video {
  width: 100%;
  height: auto;
  z-index: -1;
}

#text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.logo {
  max-width: 100px;
  margin-bottom: 20px;
}

.container h2 {
  margin-bottom: 20px;
  color:#fff;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
}

button {
  padding: 10px;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff1418;
}

p {
  margin-top: 20px;
  color: #fff;
}

a {
  color: #fff;
}